---
import Link from "../Link.astro";
import ExperienceItem from "./ExperienceItem.astro";
import Tags from "./Tags.astro";
import Tag from "./Tag.astro";
---

<div class="flex flex-col gap-5">
  <ExperienceItem
    title="ASU Preparatory Academy"
    orgUrl="https://asuprep.asu.edu"
    active={true}
  >
    <Fragment slot="details">
      <span class="whitespace-nowrap">Lead Developer &middot;</span>
      <span class="whitespace-nowrap">Contract &middot;</span>
      <span class="whitespace-nowrap">Dec 2022 &mdash; current</span>
    </Fragment>
    <Tags>
      <Tag>JavaScript</Tag>
      <Tag>TypeScript</Tag>
      <Tag>Node.js</Tag>
      <Tag>React</Tag>
      <Tag>Next.js</Tag>
      <Tag>Docker</Tag>
      <Tag>MongoDB</Tag>
    </Tags>
  </ExperienceItem>
  <ExperienceItem title="Konbini">
    <Fragment slot="details">
      <span class="whitespace-nowrap">Founder &middot;</span>
      <span class="whitespace-nowrap">Dec 2021 &mdash; Nov 2022</span>
    </Fragment>
    <Tags>
      <Tag>JavaScript</Tag>
      <Tag>TypeScript</Tag>
      <Tag>Node.js</Tag>
      <Tag>Google Cloud</Tag>
      <Tag>React</Tag>
      <Tag>Next.js</Tag>
      <Tag>Docker</Tag>
      <Tag>GraphQL</Tag>
    </Tags>
  </ExperienceItem>
  <ExperienceItem title="DataCamp" orgUrl="https://www.datacamp.com/">
    <Fragment slot="details">
      <span class="whitespace-nowrap">Software Engineer &middot;</span>
      <span class="whitespace-nowrap">Contract &middot;</span>
      <span class="whitespace-nowrap">Aug 2021 &mdash; Feb 2022</span>
    </Fragment>
    <div class="flex flex-col gap-3">
      <p>
        I worked with DataCamp for about six months on a contract basis, writing
        mostly frontend code with TypeScript, React and Next.js. During this
        time, I worked with their existing team to help maintain and iterate on
        their public-facing web properties (i.e. everything on
        <Link href="https://www.datacamp.com/">datacamp.com</Link>).
      </p>
      <p>
        This included communication with stakeholders, code reviews, managing
        the software development process using Jira and GitHub, as well as
        implementing designs built in Figma by the design team.
      </p>
    </div>
    <Tags>
      <Tag>JavaScript</Tag>
      <Tag>TypeScript</Tag>
      <Tag>React</Tag>
      <Tag>Next.js</Tag>
      <Tag>Docker</Tag>
      <Tag>GraphQL</Tag>
    </Tags>
  </ExperienceItem>
  <ExperienceItem title="Infostud" orgUrl="https://www.infostud.com/en/">
    <Fragment slot="details">
      <span class="whitespace-nowrap">Software Engineer &middot;</span>
      <span class="whitespace-nowrap">Full-time &middot;</span>
      <span class="whitespace-nowrap">2017 &mdash; 2021</span>
    </Fragment>
    <div class="flex flex-col gap-3">
      <p>
        At Infostud, I had the opportunity to work at one of the largest
        internet companies in Serbia, contributed to the development of
        greenfield projects across the entire stack, and was occasionally
        responsible for maintenance of legacy code, as part of the team(s)
        behind
        <Link href="https://poslovi.infostud.com/">Poslovi Infostud</Link>
        and <Link href="https://www.hrlab.rs/en">HR Lab</Link> &mdash; the leading
        platforms for job seekers and employers in Serbia.
      </p>
      <p>
        Tech-wise, I mainly worked with PHP and JavaScript/TypeScript, and
        deployed (non-legacy) code as container images to an internal Kubernetes
        cluster.
      </p>
      <p>Some of the things I did in my time at Infostud include:</p>
      <ul class="cv-item-bullets flex flex-col gap-3">
        <li>
          Worked on the rewrite of Infostud's ATS product (now
          <Link href="https://www.hrlab.rs/en/hr-lab-asistent">
            HR Lab Assistant
          </Link>
          ) using modern tech like PHP &gt;= 7, React, GraphQL, Docker, and Kubernetes.
          As of 2021, HR Lab Assistant was the most widely-used ATS software in Serbia.
        </li>
        <li>
          Built an internal payment platform that integrated with PayPal and
          NestPay (a proprietary payment gateway popular in the region) to
          enable HR Lab products to easily integrate credit card payments and
          other payment methods. When I was at Infostud, tens of thousands of
          dollars worth of payments passed through this system every month.
        </li>
        <li>
          Maintained
          <Link href="https://poslovi.infostud.com/">
            poslovi.infostud.com
          </Link>
          , the leading job board in Serbia, with over 1 million monthly unique users.
        </li>
        <li>
          Built the then-current iteration of
          <Link href="https://www.hrlab.rs/en/">HRLab.rs</Link>, the website for
          the HR Lab brand, using React and Gatsby, improving site performance
          by 300% in the process. I also later migrated this site from Gatsby to
          Next.js, quickly enough that we didn't need to institute a feature
          freeze.
        </li>
        <li>
          Built CI/CD pipelines for the team's codebases using GitLab CI/CD,
          Docker, Kubernetes, and Helm.
        </li>
        <li>
          Built an OAuth 2.0 identity provider for the HR Lab platform, allowing
          HR Lab products to easily authenticate users through a central
          location.
        </li>
      </ul>
    </div>
    <Tags>
      <Tag>PHP</Tag>
      <Tag>JavaScript</Tag>
      <Tag>TypeScript</Tag>
      <Tag>Symfony</Tag>
      <Tag>React</Tag>
      <Tag>Docker</Tag>
      <Tag>Kubernetes</Tag>
      <Tag>GraphQL</Tag>
      <Tag>Next.js</Tag>
    </Tags>
  </ExperienceItem>
  <ExperienceItem title="Sol Press">
    <Fragment slot="details">
      <span class="whitespace-nowrap">Software Engineer &middot;</span>
      <span class="whitespace-nowrap">Contract &middot;</span>
      <span class="whitespace-nowrap">2017 &mdash; 2020</span>
    </Fragment>
    <div>
      I worked on various projects for Sol Press -- a now-defunct US-based
      localization and publishing company -- over the course of a few years,
      doing everything from one-off scripts to web development and server
      administration, and largely being responsible for building their Web
      presence from scratch.
    </div>
    <Tags>
      <Tag>PHP</Tag>
      <Tag>JavaScript</Tag>
      <Tag>Vue.js</Tag>
      <Tag>Laravel</Tag>
      <Tag>Nuxt.js</Tag>
      <Tag>WordPress</Tag>
      <Tag>Linux</Tag>
    </Tags>
  </ExperienceItem>
  <ExperienceItem title="Execom">
    <Fragment slot="details">
      <span class="whitespace-nowrap">Intern &middot;</span>
      <span class="whitespace-nowrap">Mar 2017 &mdash; Apr 2017</span>
    </Fragment>
    <div class="flex flex-col gap-3">
      <p>
        (Execom was acquired by
        <Link href="https://htecgroup.com/">HTEC Group</Link> after my time there.)
      </p>
      <p>
        I interned at Execom for about a month to fulfill a college requirement.
        While I was there, I was given multiple small full-stack and frontend
        projects to build by myself, using tech like PHP and AngularJS.
      </p>
    </div>
    <Tags>
      <Tag>PHP</Tag>
      <Tag>JavaScript</Tag>
      <Tag>Symfony</Tag>
      <Tag>AngularJS</Tag>
    </Tags>
  </ExperienceItem>
</div>
