---
import Layout from "@/layouts/Layout.astro";
import Experience from "@/components/resume/Experience.astro";
import Links from "../components/Links.astro";
import Highlight from "../components/Highlight.astro";

const yearsOfExperience = new Date().getFullYear() - 2017;
---

<Layout title="Resume">
  <h1
    class="mb-4 text-5xl text-gray-800 font-medium leading-none sm:text-6xl dark:text-gray-200"
  >
    Lynn Romich
  </h1>
  <div class="mb-10">
    <Links align="left" condensed={false} />
  </div>
  <div class="mb-10 flex flex-col gap-4 text-pretty md:leading-8 md:text-xl">
    <p>👋 Hi! I'm Lynn.</p>
    <p>
      I'm a <Highlight>software engineer</Highlight> with more than
      {yearsOfExperience} years of professional experience.
    </p>
    <p>
      Most of my work so far has focused on the web and related technologies,
      but I'm always interested in learning new things.
    </p>
    <p>
      I've worked for and with all kinds of organizations, but I work best with
      people-first teams that care deeply about their work and understand the
      value of good engineering.
    </p>
    <p>If that's you, please get in touch!</p>
  </div>

  <h2
    class="mb-6 text-4xl text-gray-800 font-medium leading-none dark:text-gray-200"
  >
    Experience
  </h2>
  <Experience />
</Layout>
