---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span"> & {
  icon: string;
  inline?: boolean;
};

const { icon, inline, ...attrs } = Astro.props;
---

<span
  class:list={[
    `relative iconify`,
    icon,
    inline && "align-[-0.125em]",
    attrs.class,
  ]}
  {...attrs}></span>
