---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"span">;

const { ...attrs } = Astro.props;
---

<span class:list={[`relative iconify`, attrs.class]} {...attrs}></span>
