---
import Icon from "./Icon.astro";
import LinksItem from "./LinksItem.astro";

export interface Props {
  align?: "left" | "center";
  condensed?: boolean;
}

const { align = "center", condensed = true } = Astro.props;
---

<ul
  class:list={[
    "flex flex-col gap-2 flex-wrap sm:flex-row sm:gap-x-5",
    { "sm:justify-center": align === "center" },
  ]}
>
  <li>
    <LinksItem rel="me" href="https://www.linkedin.com/in/lynnntropy/">
      <Icon slot="icon" class="fa7-brands--linkedin top-px text-lg" />
      <span slot="name">lynnntropy</span>
    </LinksItem>
  </li>
  <li>
    <LinksItem rel="me" href="https://github.com/lynnntropy">
      <Icon slot="icon" class="fa7-brands--github top-px" />
      <span slot="name">lynnntropy</span>
    </LinksItem>
  </li>
  <li>
    <LinksItem rel="me" href="https://bsky.app/profile/lynn.zone">
      <Icon slot="icon" class="fa7-brands--bluesky top-px" />
      <span slot="name">@lynn.zone</span>
    </LinksItem>
  </li>

  {condensed && <li aria-hidden="true" class="hidden basis-full sm:block" />}

  <li>
    <LinksItem rel="me" href="https://hachyderm.io/@lynnntropy">
      <Icon slot="icon" class="fa7-brands--mastodon top-0.5 text-lg" />
      <span slot="name">@lynnntropy@hachyderm.io</span>
    </LinksItem>
  </li>
  <li>
    <LinksItem rel="me" href="mailto:lynn@lynn.zone">
      <Icon slot="icon" class="fa7-solid--envelope top-px" />
      <span slot="name">lynn@lynn.zone</span>
    </LinksItem>
  </li>
</ul>
