<li
  class="flex items-center gap-3 text-base text-gray-800 font-normal transition dark:text-gray-200 hover:text-gray-500 dark:hover:text-gray-300"
>
  <slot name="icon" />
  <slot name="name" />
</li>
