---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { ...attrs } = Astro.props;
---

<a
  class:list={[
    `text-gray-800 font-medium underline dark:text-gray-200`,
    attrs.class,
  ]}
  {...attrs}
>
  <slot />
</a>
