---
import Rin from "./Rin.svelte";

interface Props {
  style?: "default" | "blog-post";
}

const { style = "default" } = Astro.props;

const links = [
  { href: "/", text: "Home" },
  { href: "/blog", text: "Blog" },
];
---

<nav
  class:list={[
    "mb-12 w-full self-center flex items-center gap-8 sm:mb-24 2xl:fixed 2xl:left-8 2xl:flex-col 2xl:items-stretch 2xl:w-48",
    style === "default" && "max-w-3xl",
    style === "blog-post" && "max-w-2xl",
  ]}
>
  <a href="/">
    <Rin client:load />
  </a>
  <ul class="flex gap-4 text-lg 2xl:flex-col 2xl:text-xl">
    {
      links.map(({ href, text }) => (
        <li>
          <a {href} class="hover:underline">
            {text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
