---
interface Props {
  minutes: number;
}

const { minutes } = Astro.props;

const coffeeCount = Math.max(1, Math.floor(minutes / 5));
---

<span aria-hidden="true">{new Array(coffeeCount).fill(0).map(() => "☕")}</span>
{Math.floor(minutes)} min read
